<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Folder_downloaderPath" value ="\\192.168.32.254\"/>
    <add key="CrestINIFolder_downloaderPath" value ="\\192.168.32.254\CatalystINI\"/>
    <add key="Dest_Folder_downloaderPath" value ="C:\Catalyst\"/>
    <add key="dbcatalystconnectionstring" value="server=192.168.84.8 ; user id=root; password=root; database=tbcatalystlive" />
    
  </appSettings>
</configuration>