<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="MySqlConStr" connectionString="server=192.168.84.8; user id=root; password=root; database=dbproduction"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="connectionstring" value="server=192.168.32.238; user id=root; password=root; database=newdbcrest" />-->
    <add key="connectionstring" value="server=192.168.84.8; user id=root; password=root; database=newdbcrest" />
    <add key="MySqlServerIP" value="192.168.84.8"/>
    <add key="RepositoryPathGigaSpace" value="\\192.168.32.6\JobSheet\" />
    <add key="RepositoryPathMagarpatta" value="\\192.168.84.53\jobsheet\" />
    <add key="HelpDatabasePath" value="server=192.168.84.8;user id=root;password=root;" />
    <!--<add key="HelpDeskUploadBugPath" value="\\192.168.32.69\CatalystHelpdeskAttachments\" />-->
    <add key="HelpDeskUploadBugPath" value="\\192.168.84.37\CatalystHelpdeskAttachments\" />
    <add key="XMLToHTML_IN" value="\\192.168.84.104\XMLTOHTML_IN\" />
    <add key="XMLToHTML_DONE" value="\\192.168.84.104\XMLTOHTML_DONE\" />
    <add key="XMLToHTML_FAIL" value="\\192.168.84.104\XMLTOHTML_FAIL\" />
    <add key="DTDPath" value="\\192.168.84.53\dtd\a++v2.4" />
    <add key="IEPath" value="C:\Program Files\Internet Explorer\iexplore.exe" />
    <add key="PatternINIPath" value="\\192.168.84.104\PatternCreation\" />
    <add key="PatternINIFName" value="RefMaster.ini" />
    <add key="QDrivePath" value="\\192.168.32.227\pts\" />
    <add key="RDrivePath" value="\\192.168.84.53\pts\" />
    <add key="Catalyst_AppFolder_Path" value="Application"/>
    <add key="Catalyst_UsrFolder_Path" value="C:\Catalyst\"/>
    <!--<add key="PatternINIFName" value="RefRestruct.ini" />-->
    <add key="ProjectBriefPath" value="\\192.168.84.53\ProjectBrief\"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>